@{
    Layout = null;
}


<html>
<head>
    <title></title>
</head>
<body>
    <h3>Account info page</h3>
        <table border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td>Username</td>
                <td>@ViewBag.account.Username</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@ViewBag.account.Password</td>

            </tr>
            <tr>
                <td>Age</td>
                <td>@ViewBag.account.Age</td>

            </tr>
            <tr>
                <td>Email</td>
                <td>@ViewBag.account.Emai</td>

            </tr>
            <tr>
                <td>Website</td>
                <td>@ViewBag.account.Website</td>

            </tr>
    
        </table>
    
    
</body>
</html>